<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backgrounds</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-5.3.1-dist/css/bootstrap.css">
    <script src="../bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-primary"></div>
            <div class="col-12 bg-dark"></div>
            <div class="col-12 bg-danger"></div>
            <div class="col-12 bg-warning"></div>
            <div class="col-12 bg-success"></div>
            <div class="col-12 bg-info"></div>
            <div class="col-12 bg-light"></div>
        </div>
    </div>
</body>
</html>