<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-5.3.1-dist/css/bootstrap.min.css">
    <script src="../bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid bg-dark p-5 text-white">
        <h1>Quantum Supports</h1>
        <p>Wellcome to Quantum Supports home page</p>
        <div class="row">
            <div class="col-sm-4 p-3 bg-primary text-white">.col</div>
            <div class="col-sm-8 p-3 bg-dark text-white">.col</div>
        </div>
    </div>
    <div class="container-fluid bg-dark p-5 text-white">
        <h1>Quantum Supports</h1>
        <p>Wellcome to Quantum Supports home page</p>
        <div class="row">
            <div class="col-sm-4 p-3 bg-primary text-white">.col</div>
            <div class="col-sm-8 p-3 bg-dark text-white">
                <div class="row">
                    <div class="col-4 p-3 bg-primary text-white">.col-8</div>
                    <div class="col-4 p-3 bg-dark text-white">.col-4</div>
                    <div class="col-4 p-3 bg-primary text-white">.col-8</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark p-5 text-white">
        <h1>Quantum Supports</h1>
        <p>Wellcome to Quantum Supports home page</p>
        <div class="row">
            <div class="col-sm-4 p-3 bg-primary text-white">.col</div>
            <div class="col-sm-8 p-3 bg-dark text-white">
                <div class="row">
                    <div class="col-4 bg-primary text-white">.col-8</div>
                    <div class="col-4 bg-dark text-white">.col-4</div>
                    <div class="col-4 bg-primary text-white">.col-8</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark p-5 text-white">
        <h1>Quantum Supports</h1>
        <p>Wellcome to Quantum Supports home page</p>
        <div class="row">
            <div class="col-sm-4 p-3 bg-primary text-white">.col</div>
            <div class="col-sm-8 p-3 bg-dark text-white">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4 bg-primary text-white">.col-8</div>
                        <div class="col-4 bg-dark text-white">.col-4</div>
                        <div class="col-4 bg-primary text-white">.col-8</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark p-5 text-white">
        <h1>Quantum Supports</h1>
        <p>Wellcome to Quantum Supports home page</p>
        <div class="row">
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
        </div>
    </div>
</body>
</html>