<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="https://quantumsupports.com/bootstrap-5.3.1-dist/css/bootstrap.min.css">
    <script src="https://quantumsupports.com/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Index</h1>
        <p>Index page</p>
    </div>
</body>
</html>