<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Margin and Padding</title>
        <link rel="stylesheet" type="text/css" href="../bootstrap-5.3.1-dist/css/bootstrap.min.css">
        <script src="../bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="bg-dark">
        <div class="container-fluid">
            <div class="row bg-primary">
                <div class="bg-light col pt-0 pb-0 pr-0 pl-0">
                    col pt-0 pb-0 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-1 pb-0 pr-0 pl-0">
                    col pt-1 pb-0 pr-0 pl-0
                </div>
                <div class="bg-light col pt-2 pb-0 pr-0 pl-0">
                    col pt-2 pb-0 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-3 pb-0 pr-0 pl-0">
                    col pt-3 pb-0 pr-0 pl-0
                </div>
                <div class="bg-light col pt-4 pb-0 pr-0 pl-0">
                    col pt-4 pb-0 pr-0 pl-0
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row bg-primary">
                <div class="bg-light col pt-5 pb-0 pr-0 pl-0">
                    col pt-5 pb-0 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-6 pb-0 pr-0 pl-0">
                    col pt-6 pb-0 pr-0 pl-0
                </div>
                <div class="bg-light col pt-7 pb-0 pr-0 pl-0">
                    col pt-7 pb-0 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-8 pb-0 pr-0 pl-0">
                    col pt-8 pb-0 pr-0 pl-0
                </div>
                <div class="bg-light col pt-8 pb-0 pr-0 pl-0">
                    col pt-9 pb-0 pr-0 pl-0
                </div>
            </div>
        </div>
    </body>
</html>