<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Margin and Padding</title>
        <link rel="stylesheet" type="text/css" href="../bootstrap-5.3.1-dist/css/bootstrap.min.css">
        <script src="../bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="bg-dark">
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <div class="container-fluid">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="backgrounds.html">Backgrounds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tables.html">Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="images.html">Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jumbotron.html">Jumbotron</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="marginpadding.html">Margin and Padding</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row bg-primary">
                <div class="bg-light col pt-0 pb-0 pr-0 pl-0">
                    col pt-0 pb-0 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-1 pb-0 pr-0 pl-0">
                    col pt-1 pb-0 pr-0 pl-0
                </div>
                <div class="bg-light col pt-2 pb-0 pr-0 pl-0">
                    col pt-2 pb-0 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-3 pb-0 pr-0 pl-0">
                    col pt-3 pb-0 pr-0 pl-0
                </div>
                <div class="bg-light col pt-4 pb-0 pr-0 pl-0">
                    col pt-4 pb-0 pr-0 pl-0
                </div>
                <div class="bg-light col pt-5 pb-0 pr-0 pl-0">
                    col pt-5 pb-0 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-auto pb-0 pr-0 pl-0">
                    col pt-auto pb-0 pr-0 pl-0
                </div>
            </div>
            <div class="row bg-primary">
                <div class="bg-light col pt-0 pb-0 pr-0 pl-0">
                    col pt-0 pb-0 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-0 pb-1 pr-0 pl-0">
                    col pt-0 pb-1 pr-0 pl-0
                </div>
                <div class="bg-light col pt-0 pb-2 pr-0 pl-0">
                    col pt-0 pb-2 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-0 pb-3 pr-0 pl-0">
                    col pt-0 pb-3 pr-0 pl-0
                </div>
                <div class="bg-light col pt-0 pb-4 pr-0 pl-0">
                    col pt-0 pb-4 pr-0 pl-0
                </div>
                <div class="bg-light col pt-0 pb-5 pr-0 pl-0">
                    col pt-0 pb-5 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-0 pb-auto pr-0 pl-0">
                    col pt-0 pb-auto pr-0 pl-0
                </div>
            </div>
            <div class="row bg-primary">
                <div class="bg-light col pt-0 pb-0 pr-0 pl-0">
                    col pt-0 pb-0 pr-0 pl-0
                </div>
                <div class="bg-secondary col pt-0 pb-0 pr-1 pl-0">
                    col pt-0 pb-0 pr-1 pl-0
                </div>
                <div class="bg-light col pt-0 pb-0 pr-2 pl-0">
                    col pt-0 pb-0 pr-2 pl-0
                </div>
                <div class="bg-secondary col pt-0 pb-0 pr-3 pl-0">
                    col pt-0 pb-0 pr-3 pl-0
                </div>
                <div class="bg-light col pt-0 pb-0 pr-4 pl-0">
                    col pt-0 pb-0 pr-4 pl-0
                </div>
                <div class="bg-light col pt-0 pb-0 pr-5 pl-0">
                    col pt-0 pb-0 pr-5 pl-0
                </div>
                <div class="bg-secondary col pt-0 pb-0 pr-auto pl-0">
                    col pt-0 pb-0 pr-auto pl-0
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row bg-primary">
                <div class="bg-light col mt-0 mb-0 mr-0 ml-0">
                    col mt-0 mb-0 mr-0 ml-0
                </div>
                <div class="bg-secondary col mt-1 mb-0 mr-0 ml-0">
                    col mt-1 mb-0 mr-0 ml-0
                </div>
                <div class="bg-light col mt-2 mb-0 mr-0 ml-0">
                    col mt-2 mb-0 mr-0 ml-0
                </div>
                <div class="bg-secondary col mt-3 mb-0 mr-0 ml-0">
                    col mt-3 mb-0 mr-0 ml-0
                </div>
                <div class="bg-light col mt-4 mb-0 mr-0 ml-0">
                    col mt-4 mb-0 mr-0 ml-0
                </div>
                <div class="bg-light col mt-5 mb-0 mr-0 ml-0">
                    col mt-5 mb-0 mr-0 ml-0
                </div>
                <div class="bg-secondary col mt-auto mb-0 mr-0 ml-0">
                    col mt-auto mb-0 mr-0 ml-0
                </div>
            </div>
            <div class="row bg-primary">
                <div class="bg-light col mt-0 mb-0 mr-0 ml-0">
                    col mt-0 mb-0 mr-0 ml-0
                </div>
                <div class="bg-secondary col mt-0 mb-1 mr-0 ml-0">
                    col mt-0 mb-1 mr-0 ml-0
                </div>
                <div class="bg-light col mt-0 mb-2 mr-0 ml-0">
                    col mt-0 mb-2 mr-0 ml-0
                </div>
                <div class="bg-secondary col mt-0 mb-3 mr-0 ml-0">
                    col mt-0 mb-3 mr-0 ml-0
                </div>
                <div class="bg-light col mt-0 mb-4 mr-0 ml-0">
                    col mt-0 mb-4 mr-0 ml-0
                </div>
                <div class="bg-light col mt-0 mb-5 mr-0 ml-0">
                    col mt-0 mb-5 mr-0 ml-0
                </div>
                <div class="bg-secondary col mt-0 mb-auto mr-0 ml-0">
                    col mt-0 mb-auto mr-0 ml-0
                </div>
            </div>
            <div class="row bg-primary">
                <div class="bg-light col mt-0 mb-0 mr-0 ml-0">
                    col mt-0 mb-0 mr-0 ml-0
                </div>
                <div class="bg-secondary col mt-0 mb-0 mr-1 ml-0">
                    col mt-0 mb-0 mr-1 ml-0
                </div>
                <div class="bg-light col mt-0 mb-0 mr-2 ml-0">
                    col mt-0 mb-0 mr-2 ml-0
                </div>
                <div class="bg-secondary col mt-0 mb-0 mr-3 ml-0">
                    col mt-0 mb-0 mr-3 ml-0
                </div>
                <div class="bg-light col mt-0 mb-0 mr-4 ml-0">
                    col mt-0 mb-0 mr-4 ml-0
                </div>
                <div class="bg-light col mt-0 mb-0 mr-5 ml-0">
                    col mt-0 mb-0 mr-5 ml-0
                </div>
                <div class="bg-secondary col mt-0 mb-0 mr-auto ml-0">
                    col mt-0 mb-0 mr-auto ml-0
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row bg-primary">
                <div class="bg-light col px-5 py-5 mx-5 my-5">
                    col px-5 py-5 mx-5 my-5
                </div>
            </div>
        </div>
    </body>
</html>