<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-5.3.1-dist/css/bootstrap.min.css">
    <script src="../bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-dark">
    <div class="container-fluid bg-dark p-5 text-white">
        <h1>This is a tempalte. <small>And supose this is a subtext</small></h1>
        <h2>This is a tempalte. <small>And supose this is a subtext</small></h2>
        <h3>This is a tempalte. <small>And supose this is a subtext</small></h3>
        <h4>This is a tempalte. <small>And supose this is a subtext</small></h4>
        <h5>This is a tempalte. <small>And supose this is a subtext</small></h5>
        <h6>This is a tempalte. <small>And supose this is a subtext</small></h6>
        <h7>This is a tempalte. <small>And supose this is a subtext</small></h7>
        <br>
        <h1 class="display-1">This is a tempalte.</h1>
        <h2 class="display-2">This is a tempalte.</h2>
        <h3 class="display-3">This is a tempalte.</h3>
        <h4 class="display-4">This is a tempalte.</h4>
        <h5 class="display-5">This is a tempalte.</h5>
        <h6 class="display-6">This is a tempalte.</h6>
        <h7 class="display-7">This is a tempalte.</h7>

        
        <div class="row">
            <div class="col p-5">
                <br>
                Don't miss that this is a <mark>lab</mark> to experiment and improve my skills.
                <br>
                Well, why don't simply use <abbr title="lorem ipsum">lorem ipsum</abbr>?
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col p-5">
                <blockquote class="blockquote">
                    <p>Because create is better, why? IDKW</p>
                    <footer class="blockquote-footer">Quantum Support</footer>
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div class="col p-5">
                This is a <mark>Description List</mark>
                <dl>
                    <dt>What?</dt>
                    <dd>- Mmmm dl</dd>
                    <dt>Why?</dt>
                    <dd>- Why not</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col p-5">
                Testing code tag: 
                <code>
                    <pre>
                        <div class="row">
                            <div class="col p-3 bg-primary text-white">.col</div>
                            <div class="col p-3 bg-dark text-white">.col</div>
                            <div class="col p-3 bg-primary text-white">.col</div>
                            <div class="col p-3 bg-dark text-white">.col</div>
                    </pre>
                </code>
                Well, this is how it works: <code>div</code>
            </div>
        </div>

        <div class="row">
            <div class="col p-5 bg-primary">
                Stop ussing mouse, to copy paste simply use <kbd>ctrl+c</kbd> and <kbd>ctrl+v</kbd>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
            <div class="col p-3 bg-primary text-white">.col</div>
            <div class="col p-3 bg-dark text-white">.col</div>
        </div>
        <div class="row">
            <div class="col-2 p-3 bg-primary text-white">.col</div>
            <div class="col-2 p-3 bg-dark text-white">.col</div>
            <div class="col-2 p-3 bg-primary text-white">.col</div>
            <div class="col-2 p-3 bg-dark text-white">.col</div>
            <div class="col-2 p-3 bg-primary text-white">.col</div>
            <div class="col-2 p-3 bg-dark text-white">.col</div>
        </div>
        <div class="row">
            <div class="col-3 p-3 bg-primary text-white">.col</div>
            <div class="col-3 p-3 bg-dark text-white">.col</div>
            <div class="col-3 p-3 bg-primary text-white">.col</div>
            <div class="col-3 p-3 bg-dark text-white">.col</div>
        </div>
        <div class="row">
            <div class="col-4 p-3 bg-primary text-white">.col</div>
            <div class="col-4 p-3 bg-dark text-white">.col</div>
            <div class="col-4 p-3 bg-primary text-white">.col</div>
        </div>
        <div class="row">
            <div class="col-5 p-3 bg-primary text-white">.col</div>
            <div class="col-5 p-3 bg-dark text-white">.col</div>
            <div class="col-2 p-3 bg-primary text-white">.col</div>
        </div>
        <div class="row">
            <div class="col-6 p-3 bg-primary text-white">.col</div>
            <div class="col-6 p-3 bg-dark text-white">.col</div>
        </div>
        <div class="row">
            <div class="col-7 p-3 bg-primary text-white">.col</div>
            <div class="col-5 p-3 bg-dark text-white">.col</div>
        </div>
        <div class="row">
            <div class="col-8 p-3 bg-primary text-white">.col</div>
            <div class="col-4 p-3 bg-dark text-white">.col</div>
        </div>
        <div class="row">
            <div class="col-9 p-3 bg-primary text-white">.col</div>
            <div class="col-3 p-3 bg-dark text-white">.col</div>
        </div>
        <div class="row">
            <div class="col-10 p-3 bg-primary text-white">.col</div>
            <div class="col-2 p-3 bg-dark text-white">.col</div>
        </div>
    </div>
</body>
</html>